strong {
  color: blue;
  text-decoration: underline;
}

h1 {
  color: orange;
  text-align: center;
}

em {
  color: red;
  font-style: italic;
}

 p {
  font-size: 24px; /* font is 24px high */
 }

 body {
  background-color: #ffffe0;
 }

 .more-text {
  color: grey;
 }

 #final-paragraph {
  text-decoration: underline;
 }